# Игнорировать файлы в подкаталоге tmp
tmp/

# Игнорировать файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup

# Игнорировать файл Thumbs.db
Thumbs.db

# Игнорировать файл .DS_Store
.DS_Store
